<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="developerKey" value="AI39si7SUChDwy6-ms_bz7rY-mzkqWc9vouhT_XZfh_xery5HjOujHc4USzQJ-M6XeWPCmGtaMzBgs3QP5S4O3vFBHoxmCfIjA"/>-->
    <add key="channelsFileName" value="Channels.txt"/>
    <add key="channelsFileNameXML" value="Channels.xml"/>
    <add key="channelsVideoFile" value="Channel_Video.txt"/>
    <add key="channelsVideoFileXML" value="Channel_Video.xml"/>
    <add key="channelVideoComments" value="Channel_Video_Comment.txt"/>
    <add key="channelVideoCommentsXML" value="Channel_Video_Comment.xml"/>
    <add key="ErrorLogFiles" value="Errors.txt"/>
    <add key="LogFiles" value="Logs.txt"/>
    <add key="VideoAllCommentsUrl" value="http://www.youtube.com/all_comments?v="/>
    <add key="ChannelSearchUrl" value="https://gdata.youtube.com/feeds/api/channels?q="/>
    <add key="ChannelVideoSearch" value="http://gdata.youtube.com/feeds/api/videos?author="/>
    <add key="ChannelVideoSearchById" value="https://gdata.youtube.com/feeds/api/videos/videoid?v=2"/>

    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>